body {
  background-color: #72efdd;
}
h1 {
  text-align:center;
  font-size: 80px;
  font-style:italic ;
  border: solid black 2px;
  background-color: #ff99ac;
  border-radius: 10px 100px / 120px;
  padding: 50px;
  margin: 70px;
}
img {display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 30%;
}
.flavor {
  text-align: center;
  border: solid black  3px;
  border-radius: 50px;
  background-color:#48bfe3;
  margin-right:50px;
  margin-left: 50px;

}
button {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 20px;
  position: fixed;
  position: -webkit-sticky;
}

.flexbox-container {
  display:flex;
  padding: auto;
  justify-content: space-between;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border-radius: 30px;

}
.flexbox-item-1 {
  min-height: 100px;
}

.foot {
  border: solid  1px   black;
  margin-right: 900px;
  margin-bottom: 50px;
  padding: 5px;
   background-color: #ffc8dd;
   text-align: center;
   border-radius: 10px 100px / 120px;

}