body {
  background-color: aquamarine;
}
h1 {
  text-align:center;
  font-size: 80px;
  font-style:italic ;
  border: solid black 2px;
}
img {display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 30%;
}
div{
  text-align: center;
  border: solid black  3px;
  border-radius: 50px;
  background-color: cornflowerblue;
  margin-right:50px;
  margin-left: 50px;
  
}
button {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 20px;
  position: fixed;
  position: -webkit-sticky;
}